.item a{
    color: #495057!important;
}

/* .course__curriculum-info h3::before{
    content: "";
} */

.course__curriculum-info .learning::before{
    content: "‍👨‍🏫";
}

.course__curriculum-info .greeting::before{
    content: "🎉";
}

.course__curriculum-info .practical::before{
    content: "🛠️";
}

/* ===================================
    1. Services Section CSS
====================================== */

.box {
    background-image: url(images/on_black_left.png);
    background-color: #000000;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 100px;;
}

@media (max-width:878px){
    .box{
        padding-top:0;
    }
}


.box-item{
    padding-right: 0%;
}

.service-holder {
    margin: 25px 0;
}

.service-holder:after {
    content: "";
    display: block;
    clear: both;    
}

.service-txt{
    padding-left: 20%;
}

@media (max-width: 1020px) {

    .service-txt{
      padding-left:0;
    }

    .button-holder{
        padding-left: 20%;
    }
}

@media (max-width: 877px) {

    .service-txt{
      padding-left:0;
    }
    .button-holder{
        padding-left: 0%;
    }
}

.service-txt h4 {
    font-size: 46px;
    color: #fff;
    font-weight: 700;
    line-height: 110%;
    position: relative;
    z-index: 2;
}

.service-txt p{
    color: #b3b3b3;
    line-height: 35px;
    font-weight: 400;
    font-size: 120%;
}

@media (max-width: 290px){
    .service-txt p{
        color: #b3b3b3;
        line-height: 35px;
        font-weight: 400;
        font-size: 100%;
    }
}

.service-num {
    font-size: 264px;
    font-weight: 700;
    color: #000000;
    text-shadow: -1px 0 #b3b3b3, 
        0 1px #b3b3b3, 
        1px 0 #b3b3b3, 
        0 -1px #b3b3b3;
    line-height: 100%;
    height: 165px;
    overflow: hidden;
    margin-bottom: -10px;
    -webkit-transform: translateZ(0);
    position: relative;
    z-index: 1;

    text-align: center;
}

@media screen and (max-width: 1020px) {   
    .service-holder {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 767px) {    
    .service-holder {
        margin: 0 auto;
    }
}

body a.button {
    display: inline-block;
    color: #fff;
    background-color: #47ea4e;
    text-align: left;
    padding: 10px 40px;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    transition: all .2s linear;
    margin-bottom: 17px;
    border: 2px solid #47ea4e;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 2px;
    box-sizing: border-box;
}

a.button-dot span {
    color: #fff !important;
    transition: .3s;
    display: inline-block;
    margin-left: 50px;
    letter-spacing: 2px;
}

a.button:hover {
    background-color: transparent;
    color: #47ea4e;
}

a.button-dot {
    color: #fff !important;
    font-size: 16px;
    position: relative;
}

a.button-dot:hover {
    color: #fff;    
}

a.button-dot span {
    transition: .3s;
    display: inline-block;
    margin-left: 50px;
    letter-spacing: 2px;
}

a.button-dot:hover span {
    transform: translateX(-8px);
}

a.button-dot:before {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 90%;
    top: -7px;
    position: absolute;
    transition: .3s;
}

a.button-dot:hover:before {
    width: calc(100% + 30px);
    height: 51px;
    border-radius: 50px;
    top: -18px;
}

#services{
    background-color: black;
    padding-bottom: 100px;
}


.page-title-holder .entry-title{
    font-size: 16px;
    line-height: 149%;
    font-weight: 400;
    word-break: break-word;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 32px;
}

.page-title-holder {
    position: relative;
    top: 0;
    left: 0;
    background-color: #47ea4e;
    width: 180px;
    display: inline-block;
    z-index: 98;
    height: 80px;
    margin: 0;
    padding: 0;
}

.page-title-holder:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 81px 30px 0 0;
    border-color: #47ea4e transparent transparent transparent;
    position: absolute;
    top: 0;
    right: 0.4px;
    transform: translateX(100%);
    margin: 0;
    padding: 0;
}

@media (max-width: 877px) {
    .page-title-holder:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 81px 30px 0 0;
        border-color: #47ea4e transparent transparent transparent;
        position: absolute;
        top: 0;
        right: 0.4px;
        transform: translateX(100%);
        margin: 0;
        padding: 0;
    }
}


/* ===================================
    2. Swiper
====================================== */

.course-swiper-container{
    height: 65%;
}

.course-swiper-container .swiper {
    width: 100%;
    height: 100%;
}

.course-swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-swiper-container .swiper-slide .slider-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-swiper-container .swiper-slide .slider-logo {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 100px;
}


.swiper-content{
    position: absolute;
    top: 10%;
    left: 15%;
    color: white;
    text-align: left;
}

.swiper-content h6{
    font-size: 1.5rem;
}

@media (max-width:1000px) {

    .swiper-content h2{
        font-size: 36px;
    }

    .swiper-content h6{
        font-size: 1.5rem;
    }

    .swiper-content p{
        font-size: 1rem;
    }
}

@media (max-width:560px) {
    .swiper-content h2{
        font-size: 28px;
    }

    .swiper-content p{
        font-size: 16px;
    }

    .swiper-content h6{
        font-size: 22px;
    }
}

@media (max-width:420px) {
    .swiper-content h2{
        font-size: 24px;
    }
    .swiper-content p{
        font-size: 14px;
    }

    .swiper-content h6{
        font-size: 18px;
    }
}

@media (max-width:350px) {
    .swiper-content h2{
        font-size: 20px;
    }

    .swiper-content p{
        font-size: 12px;
    }

    .swiper-content h6{
        font-size: 16px;
    }
}

@media (max-width:278px) {
    .swiper-content h2{
        font-size: 16px;
    }
    .swiper-content p{
        font-size: 10px;
    }

    .swiper-content h6{
        font-size: 14px;
    }
}



/* ===================================
    2. About Section CSS
====================================== */

.about-container{
    margin-top: 60px;
}

.about-container img{
    object-fit: contain;
    width: 100%;
}

@media (min-width: 992px){
    .about-container .about-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.about-container h6{
    font-weight: 600;
}

.about-container h2{
    font-weight: 900;
}

.about-container p{
    font-weight: 500;
}

@media (max-width: 290px){
    .about-container h2{
        font-size: 32px;
    }
}

#button-nav{
    margin-bottom: 0;
}

@media (max-width:991px){
    #button-nav{
        margin-bottom: 50px;
    }
}

