/* nav li.dropdown ul {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0;
  }
  
  nav li.dropdown:hover ul {
    display: block;
  }
  
  nav li.dropdown ul li {
    display: block;
    padding: 10px;
  }
  
  nav li.dropdown ul li a {
    color: #333;
    text-decoration: none;
  } */

.dropdown-item:hover{
    background-color: #0d47a1 !important;
}